---
http_interactions:
- request:
    method: get
    uri: https://api.eu1.echosign.com/api/rest/v5/users
    body:
      encoding: US-ASCII
      string: 'x-user-email=nobody@nobody.com'
    headers:
      Access-Token:
      - 2AAABLblqZhC3HrDExRuNnTr9I-U3z2f2KtGloHKah3ccogCP4HzbN5XSbcKSlxNJDtNCVAq94pM*
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userInfoList":[{"company":"Independent Contractor","email":"cthomas@railjumper.com","fullNameOrEmail":"Bernard
        Worthy","groupId":"2AAABLblqZhDdodmWvyN9d2EEVcCrev1zLJa_frF9npGySVp6C7Vksvyj8l6H5L873v29BKj403E*","userId":"2AAABLblqZhBp6sZ412RCo4_5P1OCDATcuKQf3gzb7M-kea77rqC7h6kzMKSpofswP8rY9Cwv9Vw*"}]}'
  recorded_at: Tue, 19 Aug 2014 22:52:34 GMT
recorded_with: VCR 2.8.0
